@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Space+Grotesk:wght@300;400;500;600;700&family=JetBrains+Mono:wght@300;400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  
  --color-zinc-50: rgba(255, 255, 255, 1);
  --color-zinc-100: rgba(255, 255, 255, 0.95);
  --color-zinc-200: rgba(255, 255, 255, 0.9);
  --color-zinc-300: rgba(255, 255, 255, 0.8);
  --color-zinc-400: rgba(255, 255, 255, 0.7);
  --color-zinc-500: rgba(255, 255, 255, 0.6);
  --color-zinc-600: rgba(255, 255, 255, 0.5);
  --color-zinc-700: rgba(255, 255, 255, 0.3);
  --color-zinc-800: rgba(255, 255, 255, 0.15);
  --color-zinc-900: rgba(255, 255, 255, 0.08);
  --color-zinc-950: rgba(0, 0, 0, 0.1);
}

body {
  @apply bg-[#0a0a09] text-zinc-100 font-sans antialiased overflow-x-hidden;
}

::selection {
  @apply bg-orange-500/30 text-zinc-100;
}

.text-outline {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.05);
  color: transparent;
}

/* Custom Cinematic Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

